<!DOCTYPE html>
<html lang="en">

<body>
  <nav>
    <ul>
      {{#if isAuthenticated}}
      <li><a href="/profile">Perfil</a></li>
      <li><a href="/movies">Películas</a></li>
      <li><a href="/reviews">Opiniones</a></li>
      {{/if}}
    </ul>
  </nav>
</body>

</html>