<h1>Signup</h1>
<form action="/auth/register-page" method="post">
    <div>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <br>
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" required>
    </div>
    <br>
    <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">Registrar</button>
</form>
<p>Ya tienes una cuenta? <a href="/auth/login-page">Inicia sesión aquí</a></p>
